# BEGIN WordPress
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_URI} ^/start(?:\/?)$
  RewriteRule .* "https://zen.coderdojo.com/start-dojo" [L,R=permanent]
  
  # ELB to HTTPS
  RewriteCond %{HTTP:X-Forwarded-Proto} =http
  RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]
  
  # Fix old permalink scheme
  RewriteCond %{REQUEST_URI} ^/news/(.+)$
  RewriteRule .* /%1 [L,R=permanent]

  # GZIP FILE
  <IfModule mod_mime.c>
    RewriteCond %{REQUEST_URI} /$
    RewriteCond %{REQUEST_URI} !^/(wp-admin|wp-content/cache)/.*
    RewriteCond %{REQUEST_METHOD} !POST
    RewriteCond %{QUERY_STRING} ^$
    RewriteCond %{HTTP_COOKIE} !(wp-postpass|wordpress_logged_in|comment_author)_
    RewriteCond %{HTTP:Accept-Encoding} gzip
    RewriteCond /var/www/html/wp-content/cache/cachify/%{HTTP_HOST}%{REQUEST_URI}index.html.gz -f
    RewriteRule ^(.*) /var/www/html/wp-content/cache/cachify/%{HTTP_HOST}%{REQUEST_URI}index.html.gz [L]

    AddType text/html .gz
    AddEncoding gzip .gz
  </IfModule>

  # HTML FILE
  RewriteCond %{REQUEST_URI} /$
  RewriteCond %{REQUEST_URI} !^/(wp-admin|wp-content/cache)/.*
  RewriteCond %{REQUEST_METHOD} !POST
  RewriteCond %{QUERY_STRING} ^$
  RewriteCond %{HTTP_COOKIE} !(wp-postpass|wordpress_logged_in|comment_author)_
  RewriteCond /var/www/html/wp-content/cache/cachify/%{HTTP_HOST}%{REQUEST_URI}index.html -f
  RewriteRule ^(.*) /var/www/html/wp-content/cache/cachify/%{HTTP_HOST}%{REQUEST_URI}index.html [L]


  # Default fallback
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]

</IfModule>

# Block WordPress xmlrpc.php requests
<Files xmlrpc.php>
  Order allow,deny
  Deny from all
</Files>
